// Mixins in here
.btn-mixin(@bg-color, @txt-color){
    background-color: @bg-color;
    color: @txt-color;
    width: 90%;
    padding: 10px;
    border-radius: 10px;;
    font-size: 1.6rem;
    text-align: center;
}